@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #202020;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 120px 0 0 0;
}

p {
  color: #FFFFFF;
}

#wrapper, #container {
  display: block;
  width: 864px;
  height: 486px;
  margin: 0 auto;

  background-color: #636363;
}

#notes {
  width: 120px;
  height: 70px;
  margin: 0 auto;
}

.error {
  font-style: italic;
  color: red;
}